@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
/* variables */
:root {
  --clr-primary-1: rgb(255, 193, 7);
  --clr-primary-2: rgb(225, 232, 235);
  --clr-primary-3: rgb(52, 58, 64);
  --clr-primary-4: rgb(121, 82, 179);
}
/* global styles */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--clr-primary-2);
}

/* navbar */
nav {
  background-color: var(--clr-primary-1);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > h1 {
  color: var(--clr-primary-3);
  font-size: 32px;
}
/* main section */
.main {
  padding: 1rem;
  max-width: 600px;
  margin: auto;
}
.main > h4 {
  margin: 0.5rem;
}
textarea {
  display: block;
  width: 90%;
  margin: 0.5rem;
  height: 15vh;
  border: 2px solid var(--clr-primary-4);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

button {
  background-color: var(--clr-primary-4);
  margin: 1rem 1rem 1rem 0.5rem;
  padding: 1rem;
  border: none;
  border-top-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  cursor: pointer;
  color: var(--clr-primary-2);
}

#div-output {
  overflow: scroll;
  height: 15vh;
  width: 90%;
  display: block;
  margin: 0.5rem;
  border: 2px solid var(--clr-primary-4);
  border-radius: 0.5rem;
  padding: 0.5rem;
  overflow: hidden;
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--clr-primary-1);
  color: var(--clr-primary-3);
  text-align: center;
}

.footer > h4 {
  margin: 0.2rem;
}
